<div id="progress-charity" data-role="view" data-layout="default"
    data-title="Charity"
    data-show="App.views.Progress.onShow">
    <ul data-role="listview" data-style="inset" data-progress="charity">
        <li>
            <label>
                <input type="checkbox" name="zakaat" />
                Zakaat
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="sadaqat" />
                Sadaqat-ul-Fitr
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="fidya" />
                Fidya
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="kaffarah" />
                Kaffarah
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="qurbani" />
                Qurbani
            </label>
        </li>
    </ul>
</div>