<div id="progress-fasting" data-role="view" data-layout="default"
    data-title="Fasting"
    data-show="App.views.Progress.onShow">
    <ul data-role="listview" data-style="inset" data-progress="fasting">
        <li>
            <label>
                <input type="checkbox" name="ramadan" />
                Month of Ramadan <em>(required)</em>
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="mondaysthursday" />
                Mondays and Thursdays
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="midmonth" />
                13th, 14th, and 15th of every month
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="ashura" />
                Ashura - the 9th and 10th of Muharram
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="zhulhijjah" />
                First ten days of Zhul-Hijjah
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="shawwal" />
                Six days of the month of Shawwal
            </label>
        </li>
    </ul>
</div>