<div id="progress-memorization" data-role="view" data-layout="default"
    data-title="Names of Allah"
    data-show="App.views.Progress.onNames99Show">
    <header data-role="header">
        <div data-role="navbar">
            <a href="#drawer-menu" data-role="button" data-rel="drawer" data-icon="reorder" data-align="left" class="fa"></a>
            <ul data-role="buttongroup" data-index="1" data-select="App.views.Progress.onMemorizationFilter">
                <li data-badge="114">
                    Quran
                </li>
                <li data-badge="99">
                    Names of Allah
                </li>
            </ul>
        </div>
    </header>
    <ul class="listview" data-progress="names99"></ul>
</div>