<div id="progress-prayers" data-role="view" data-layout="default"
    data-title="Prayers"
    data-show="App.views.Progress.onShow">
    <ul data-role="listview" data-style="inset" data-progress="prayers">
        <li>
            <label>
                <input type="checkbox" name="beforefajr" />
                Before Fajr - 2 Raka`at
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="fajr" />
                Fajr - 2 Raka`at <em>(required)</em>
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="beforezuhr" />
                Before Zuhr - 4 Raka`at
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="zuhr" />
                Zuhr - 4 Raka`at <em>(required)</em>
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="afterzuhr" />
                After Zuhr - 2+2 Raka`at
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="beforeasr" />
                Before 'Asr - 4 Raka`at
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="asr" />
                'Asr - 4 Raka`at <em>(required)</em>
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="maghrib" />
                Maghrib - 3 Raka`at <em>(required)</em>
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="aftermaghrib" />
                After Maghrib - 2+2 Raka`at
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="beforeisha" />
                Before `Ish'a - 4 Raka`at
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="isha" />
                `Ish'a - 4 Raka`at <em>(required)</em>
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="afterisha" />
                After `Ish'a - 2+2+3+2 Raka`at
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="qiyamullayl" />
                Qiyam-ul-layl
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="tahajjud" />
                Tahajjud
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="taraweeh" />
                Taraweeh
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="istikhara" />
                Istikhara
            </label>
        </li>
    </ul>
</div>