<div id="progress-sunnah" data-role="view" data-layout="default"
    data-title="Sunnah"
    data-show="App.views.Progress.onShow">
    <ul data-role="listview" data-style="inset" data-progress="sunnah">
        <li>
            <label>
                <input type="checkbox" />
                The time of waking from sleep
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" />
                The time of going to the lavatory
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" />
                Fraa'idh (compulsory acts) of wuzoo (ablution)
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" />
                Sunnats of wuzoo (ablution)
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" />
                Masnoon method of performing wuzoo (ablution)
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" />
                Compulsory acts of ghusl (to take bath)
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" />
                The sunnats of ghusl (to take bath)
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" />
                Masnoon method of performing ghusl (to take bath)
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" />
                Important mas'alah
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" />
                The use of miswaak
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" />
                Coming to and leaving the home
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" />
                Sunnats at the time of entering the masjid
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" />
                The aadaab (etiquettes) of masjid
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" />
                Faraa'idh (compulsory acts) of salaat
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" />
                Waajibaat (necessary acts) of salaat
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" />
                Sunnats of salaat
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" />
                Eleven sunnats of qiyaam
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" />
                Seven sunnats of qiraa'at
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" />
                Eight sunnats of rukoo
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" />
                Twelve sunnats of sajdah
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" />
                Thirteen sunnats of qa'dah
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" />
                Particular differences in the salaat of women
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" />
                Etiquettes of salaat
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" />
                Beg the following du'aa after every fardh salaat
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" />
                Coming out of the mosque
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" />
                The prayers with congregation
            </label>
        </li>
    </ul>
</div>