<div id="progress-supplications" data-role="view" data-layout="default"
    data-title="Supplications"
    data-show="App.views.Progress.onShow">
    <ul data-role="listview" data-style="inset" data-progress="supplications">
        <li>
            <label>
                <input type="checkbox" name="faith" />
                Faith
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="submission" />
                Submission
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="praise" />
                Praise
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="patience" />
                Patience
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="forgiveness" />
                Forgiveness
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="family" />
                Family
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="provisions" />
                Provisions
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="knowledge" />
                Knowledge
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="thanks" />
                Thanks
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="protection" />
                Protection
            </label>
        </li>
    </ul>
</div>