<div id="shared-info" data-role="view" data-layout="default"
    data-title="Info">
    <header data-role="header">
        <div data-role="navbar">
            <a data-role="backbutton" data-icon="reply" data-align="left"></a>
            <span data-role="view-title"></span>
        </div>
    </header>
    <div class="logo">
    	<img src="images/falafelaelogo.png" alt="Falafel Software" />        
    </div>
    <ul data-role="listview" data-style="inset">
        <li><a href="http://falafelsoft.ae" data-rel="external" target="_blank">About Falafel Software</a></li>
        <li><a href="mailto:info@falafel.com?subject=Feedback for Quran Gateway" data-rel="external">Send us feedback</a></li>
    </ul>
</div>