<div id="ummah-calendar" data-role="view" data-layout="default"
    data-title="Calendar"
    data-show="App.views.Ummah.onShow"> 
    <ul data-role="listview" data-style="inset">
        <li>1 Muharram - New Year</li>
        <li>10 Muharram - Day of 'Ashura</li>
        <li>27 Rajab - Isra' & Mi'raj</li>
        <li>1 Ramadan - Beginning of Fasting</li>
        <li>1 Shawwal - Eid al-Fitr</li>
        <li>8-13 Dhul-Hijjah - Hajj Days</li>
        <li>9 Dhul-Hijjah - Day of Arafat</li>
        <li>10 Dhul-Hijjah - Eid al-Adha</li>
    </ul>
</div>