<div id="ummah-ramadan" data-role="view" data-layout="default"
    data-title="Ramadan"
    data-show="App.views.Ummah.onShow">        
    <ul data-role="listview" data-style="inset">
        <li><a href="views/verses/list.html?type=ramadan&title=Ramadan">Qur'an Verses</a></li>
        <li><a href="views/shared/stream.html?title=Ramadan&url=http%3A%2F%2Fwww.youtube.com%2Fembed%2FmQbMlI7SK8U">Supplications<br /><small>by Muhammad Jibreel</small></a></li>
        <li><a href="views/shared/stream.html?title=Ramadan&url=http%3A%2F%2Fwww.youtube.com%2Fembed%2FEsU2-ZyTXU4">Ramadan, A Gift for Muslims<br /><small>by Nouman Ali Khan</small></a></li>
        <li><a href="views/shared/stream.html?title=Ramadan&url=http%3A%2F%2Fwww.youtube.com%2Fembed%2FkI9a7Y3oXvQ">Blessed Guest - Ramadan and the Quran<br /><small>by Nouman Ali Khan</small></a></li>
        <li><a href="views/shared/stream.html?title=Ramadan&url=http%3A%2F%2Fwww.youtube.com%2Fembed%2F5Oam2qJz0y8">The Night of your Life: Tafseer of Surah Al-Qadr<br /><small>by Omar Suleiman</small></a></li>
        <li><a href="views/shared/stream.html?title=Ramadan&url=http%3A%2F%2Fwww.youtube.com%2Fembed%2FvnXfB_6hzsM">Rediscovering the Qur'an<br /><small>by Abu Eesa</small></a></li>
    </ul>
</div>