
@media only screen and (max-width: 767px) {

    #home .progress-wrapper .k-chart {
        width: 95px;
        height: 95px;
    }

}

@media only screen and (min-width: 768px) {

    #home .progress-wrapper .k-chart {
        width: 150px;
        height: 150px;
    }

}